<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/apartment.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <% if (favorites.length > 0) { %>
    <div class="grid">
      <% favorites.forEach(favorite => { %>
      <article class="card apartment-item">
        <header class="card__header">
          <h1 class="apartment__title"><%= favorite.apartment.title %></h1>
        </header>
        <div class="card__image">
          <img src="/<%= favorite.apartment.imagePath %>" alt="<%= favorite.apartment.title %>">
        </div>
        <div class="card__content">
          <h2 class="apartment__price">$<%= favorite.apartment.price %></h2>
          <p class="apartment__description"><%= favorite.apartment.description %></p>
        </div>
        <div class="card__actions">
          <a href="/apartments/<%= favorite.apartment.id %>" class="btn">Details</a>
        </div>
      </article>
      <% }) %>
    </div>
    <% } else { %>
    <h1>No apartments Found!</h1>
    <% } %>
  </main>
  <%- include('../includes/end.ejs') %>