<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <% if (favorites.length > 0) { %>
      <div class="row">
      <% favorites.forEach(favorite => { %>
      <div class="col-lg-2">
        <div class="card text-bg-dark mb-3 border-light h-100" style="width: 18rem;">
          <img src="/<%= favorite.apartment.imageThumbnailPath %>" class="card-img-top img-fluid" alt="<%= favorite.apartment.title %>">
          <div class="card-body">
            <h5 class="card-title"><%= favorite.apartment.title %></h5>
            <p class="card-text">$<%= favorite.apartment.price %></p>
            <div class="card-footer text-center">
              <a href="/apartments/<%= favorite.apartment.id %>" class="btn btn-primary">Details</a>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
    </>
    <% } else { %>
    <h1>No apartments Found!</h1>
    <% } %>
    </div>
  </main>
  <%- include('../includes/end.ejs') %>