<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/apartment.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <div class="wrapper">
      <% if (apartments.length > 0) { %>
      <div class="grid left-div">
        <% for (let apartment of apartments) { %>
        <article class="card apartment-item">
          <header class="card__header">
            <h1 class="apartment__title"><%= apartment.title %></h1>
          </header>
          <div class="card__image">
            <img src="/<%= apartment.imagePath %>" alt="<%= apartment.title %>">
          </div>
          <div class="card__content">
            <h2 class="apartment__price">$<%= apartment.price %></h2>
            <p class="apartment__description"><%= apartment.description %></p>
          </div>
          <div class="card__actions">
            <a href="/apartments/<%= apartment.id %>" class="btn">Details</a>
          </div>
          <input type="hidden" class="apartment-cords" data-lat="<%= apartment.latitude %>" data-long="<%= apartment.longitude %>">
        </article>
        <% } %>
      </div>
      <div id="map" class="right-div"></div>
      <script src="js/map.js"></script>
      <% } else { %>
      <h1>No apartments Found!</h1>
      <% } %>
      <%- include('../includes/end.ejs') %>
    </div>